[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/rapidjson/include/rapidjson"]
	path = external/rapidjson/include/rapidjson
	url = https://github.com/Tencent/rapidjson.git
